#div4 {
	margin: 200px;
}
#carouselExampleControls{
	margin: 10px 80px 0px 80px;
}


#div11{
	height: 200px;
	margin: 90px
}

#div10{
	margin: 1px 80px 0px 80px;
}

#img1{

	justify-content: center;
	margin: 0px 80px 0px 80px

}

#div16{
	height: 200px;
	margin: 90px
}

#div20{
	margin: 50px
}

#form1{
	margin: 120px
}

